@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

:root {
	--neutral-bg: #F5F6FA;	
	--primary: rgba(0, 0, 0, 0.8);
	--secondary: rgba(8, 20, 51, 0.44);
	--secondary-alpha: rgba(8, 20, 51, 0);
	--neutral-80: rgba(23, 68, 153, 0.07);
	--neutral-80-alpha: rgba(23, 68, 153, 0);
	--neutral-100: rgba(19, 55, 128, 0.12);
	--neutral-100-alpha: rgba(19, 55, 128, 0);
	--neutral-120: rgba(15, 43, 102, 0.22);
	--neutral-120-alpha: rgba(15, 43, 102, 0);
	--grays-neutral-3: rgba(11, 31, 77, 0.30);
	--grays-neutral-3-alpha: rgba(11, 31, 77, 0);
	--accent: rgba(36, 1, 254, 1);
	--accent-80: rgba(84, 142, 255, 1);
}

html, body {
    padding: 0;
    margin: 0;
}

:root {
	font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	user-select: none;
	background: var(--neutral-bg);
	color: var(--primary);
	display: flex;
	justify-content: center;
	font-size: 13px;
	line-height: 16px;
}

.main {
	display: flex;
	padding: 0;
	/* min-height: 100vh; */
	/* height: auto; */
	flex-grow: 10;
    flex-shrink: 0;
    flex-basis: 1080px;
    max-width: 1200px;
	background-color: white;
	box-sizing: border-box;
	box-shadow: 0px 3px 7px 0px rgba(32, 47, 78, 0.09);
}

.fixed360 {
	display: flex;
	flex-grow: 0;
    flex-shrink: 0;
	gap: 20px;
	width: 360px;
	min-height: 100vh;
	height: auto;
	padding: 16px 20px 20px 16px;
	flex-direction: column;
	align-items: flex-start;
	box-sizing: border-box;
}

.chat-column {
	display: flex;
	min-width: 360px;
	max-width: 560px;
	width: 100%;
	height: 100%;
	flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 360px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	border-left: 1px solid var(--neutral-120);
	border-right: 1px solid var(--neutral-120);
}

.product-widget {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	border-radius: 16px;
	border: 1px solid var(--neutral-120);
	padding-bottom: 24px;
	overflow: hidden;
	transition: height 1000ms;
}

.product-widget .section {
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
}

.product-widget-header {
	display: flex;
	box-sizing: border-box;
	font-weight: 600;
	align-items: center;
	justify-content: space-between;
	padding: 16px 20px;
	border-bottom: 1px solid var(--neutral-120);
}

.product-widget-header:hover {
	background: var(--neutral-80);
	border-radius: 16px 16px 0 0;
	cursor: pointer;
}

.header {
	display: flex;
	flex-direction: row !important;
	align-items: center;
	gap: 12px !important;
	font-weight: 600;
}

.avatar {
	width: 36px;
	height: 36px;
	border-radius: 36px;
	background: var(--neutral-120);
}

.flex-table {
	width: 100%;
	display: flex;
	gap: 20px;
	justify-content: space-between;
}


.flex-table > div {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.cards {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	width: 100%;
	height: 56px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	transition: height 1000ms;
}

.cards .card-wrapper {
	display: flex;
	align-items: end;
	box-sizing: border-box;
	padding: 8px;
	border-radius: 12px;
	min-width: 82px;
	height: 56px;
}

.cards .card-wrapper:hover {
	cursor: pointer;
	background: var(--neutral-80);
}

.cards .card-content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.opacity-0 {
	opacity: 0;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.lables {
	align-items: flex-start;
}
	
.values {
	align-items: flex-end;
}

.values .flex-td {
	text-align: right;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 16px;
	height: 100%;
	width: 100%;
	position: sticky;
	bottom: 20px;
}

.link {
	color: var(--accent);
}

.link:hover {
	color: var(--accent-80);
	cursor: pointer;
}

.btn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 16px;
	padding-right: 16px;
	width: 100%;
	box-sizing: border-box;
}

.btn-40 {
	display: flex;
	gap: 6px;
	min-height: 40px;
	height: 40px;
	border-radius: 12px;
}

.btn-gray {
	background: var(--neutral-100);
}

.btn-gray:hover {
	background: var(--neutral-80);
}

.btn-gray:active {
	background: var(-neutral-120);
}

.section-header {
	font-size: 15px;
	font-weight: 600;
	line-height: 18px;
    align-self: flex-start;
}

.text {
	min-height: 16px;
}