@keyframes fadeIn {
    from {
		opacity: 0; 
	}
    to {
		opacity: 1; 
	}
}

@keyframes fadeIn-to-right {
    from {
		opacity: 0; 
	}
    to {
		opacity: 1; 
		margin-left: -20px;
	}
}

@keyframes fadeOut-to-left {
    from { opacity: 0; }
    to { opacity: 1; }	
}

:root {
	--neutral-bg: #F5F6FA;	
	--primary: rgba(0, 0, 0, 0.86);
	--secondary: rgba(8, 20, 51, 0.53);
	--secondary-alpha: rgba(8, 20, 51, 0);
	--tertiary: rgba(8, 20, 51, 0.22);

	--neutral-80: rgba(23, 68, 153, 0.07);
	--neutral-80-alpha: rgba(23, 68, 153, 0);
	--neutral-100: rgba(19, 55, 128, 0.12);
	--neutral-100-alpha: rgba(19, 55, 128, 0);
	--neutral-120: rgba(15, 43, 102, 0.22);
	--neutral-120-alpha: rgba(15, 43, 102, 0);

	--grays-neutral-3: rgba(11, 31, 77, 0.30);
	--grays-neutral-3-alpha: rgba(11, 31, 77, 0);

	--brand-120: hsla(18, 100%, 88%, 1);
	--brand-100: hsla(18, 92%, 100%, 1);
	--brand-80: hsla(23, 92%, 100%, 1);

	--accent-120: hsla(246, 99%, 75%, 1);
	--accent-100: hsla(248, 100%, 100%, 1);
	--accent-80: hsla(220, 67%, 100%, 1);
	--accent-20: hsla(223, 90%, 90%, 0.11);
	--accent-10: hsla(223, 90%, 90%, 0.11);
	
	--success-120: hsla(141, 91%, 66%, 1);
	--success-100: hsla(141, 91%, 73%, 1);
	--success-80: hsla(141, 91%, 81%, 1);
	--success-10: hsla(138, 93%, 76%, 0.1);

	--stop-120: hsla(0, 95%, 88%, 1);
	--stop-100: hsla(0, 93%, 100%, 1);
	--stop-80: hsla(0, 68%, 100%, 1);
	--stop-10: hsla(0, 100%, 100%, 0.07);

	--attention-100: hsla(35, 100%, 100%, 1);
	--attention-10: hsla(43, 100%, 100%, 0.1);
}

html, body {
    padding: 0;
    margin: 0;
}

:root {
	font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: 'Inter var', sans-serif;
	}
}

h2 {
	color: var(--primary);
	font-feature-settings: 'liga' off, 'clig' off;
	font-family: Inter;
	font-size: 17px;
	font-style: normal;
	font-weight: 600;
	line-height: 20px;
	margin: 0;
	padding-left: 20px;
	margin-bottom: 8px;
}

body {
	user-select: none;
	background: var(--neutral-bg);
	color: var(--primary);
	display: flex;
	justify-content: center;
	font-size: 13px;
	line-height: 16px;
}

.text-align-right {
	text-align: right;
}

.display-none {
	display: none;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-left-20 {
	margin-left: 20px;
}

.margin-right-20 {
	margin-right: 20px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.pulse {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -60px;
	gap: 8px;
}

.pulse span {
	font-size: 17px;
	line-height: 20px;
	font-weight: 400;
	color: var(--neutral-120);
}

.wave {
	width: 96px;
	height: 96px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	border: 1px solid var(--neutral-100);
	border-radius: 100px;
	animation: distribution;
	animation-duration: 8s;
	animation-timing-function: cubic-bezier(.5, 0, .5, 1);
	animation-iteration-count: infinite;
}
  
.circle {
	width: 96px;
	height: 96px;
	border-radius: 96px;
	background-color: var(--neutral-100);
	animation: pulse;
	animation-duration: 8s;
	animation-timing-function: cubic-bezier(.5, 0, .5, 1);
	animation-iteration-count: infinite;
}

.main {
	display: flex;
	padding: 0;
    max-width: 360px;
	background-color: rgba(255, 255, 255, 0);
	box-sizing: border-box;
	box-shadow: 0px 3px 7px 0px rgba(32, 47, 78, 0.09);
	opacity: 0;
}

.fadeInUp {
	animation-name: fadeInUp;
	animation-delay: 200ms;
	animation-duration: 200ms;
    animation-fill-mode: both;
}

.fixed360 {
	display: flex;
	width: 360px;
	min-height: 100vh;
	height: auto;
	flex-direction: column;
	align-items: flex-start;
	align-items: center;
	box-sizing: border-box;
	padding-top: 20px;
}

.chat-column {
	display: flex;
	min-width: 360px;
	max-width: 560px;
	width: 100%;
	height: 100%;
	flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 360px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	border-left: 1px solid var(--neutral-120);
	border-right: 1px solid var(--neutral-120);
}

.product-widget {
	display: flex;
	flex-direction: column;
	width: 320px;
	border-radius: 8px;
	border: 1px solid var(--tertiary);
	overflow: hidden;
	transition: height 1000ms ease-in-out;
}

.product-widget-header {
	display: flex;
	box-sizing: border-box;
	font-weight: 600;
	align-items: center;
	justify-content: space-between;
	padding: 12px 16px;
	border-top: 1px solid var(--tertiary);
	cursor: pointer;
	transition: background-color 50ms;
}

.product-widget-header:hover {
	background-color: var(--neutral-80);
	transition: background-color 50ms;
}

.product-widget-header:active {
	background-color: var(--neutral-120);
	transition: background-color 50ms;
}

.header {
	display: flex;
	flex-direction: row !important;
	align-items: center;
	gap: 12px !important;
	font-weight: 600;
}

.avatar {
	width: 36px;
	height: 36px;
	border-radius: 36px;
	background: var(--neutral-120);
}

.flex-table {
	width: 360px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex-table .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 20px;
  transition: background-color 50ms;
}

.flex-row:hover {
	background-color: var(--neutral-80) !important;
	transition: background-color 50ms;
}

.flex-row.interactive:hover {
	background-color: var(--neutral-80);
}

.cards {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	width: 100%;
	height: 56px;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	transition: height 1000ms;
}

.cards .card-wrapper {
	display: flex;
	align-items: end;
	box-sizing: border-box;
	padding: 8px;
	border-radius: 12px;
	min-width: 82px;
	height: 56px;
}

.cards .card-wrapper:hover {
	cursor: pointer;
	background: var(--neutral-80);
}

.cards .card-content {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.opacity-0 {
	opacity: 0;
}

.section {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.lables {
	align-items: flex-start;
}
	
.values {
	align-items: flex-end;
}

.values .flex-td {
	text-align: right;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 16px;
	height: 100%;
	width: 100%;
	position: sticky;
	bottom: 20px;
}

.link {
	color: var(--accent);
}

.link:hover {
	color: var(--accent-80);
	cursor: pointer;
}

.btn {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 320px;
	box-sizing: border-box;
}

.btn-40 {
	display: flex;
	min-height: 40px;
	height: 40px;
	border-radius: 8px;
	color: var(--primary, rgba(0, 0, 0, 0.86));
	text-align: center;
	font-feature-settings: 'liga' off, 'clig' off;
	font-family: Inter;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	line-height: 16px;
}

.btn-gray {
	background: var(--neutral-100);
}

.btn-gray:hover {
	background: var(--neutral-80);
}

.btn-gray:active {
	background: var(--neutral-120);
}

.section-header {
	font-size: 15px;
	font-weight: 600;
	line-height: 18px;
    align-self: flex-start;
}

.text {
	min-height: 16px;
}