:root {
    --primary: rgba(18, 20, 22, 1);
    --secondary: #97999D;
    --tertiary: #C7CACF;
    --neutral-80: #F8F9FC;
    --neutral-100: #F5F6F9;
    --neutral-120: #E7EAEF;
    --neutral-bg: rgba(245, 246, 249, 1);
    --secondary-opacity: rgba(23, 28, 38, 0.45);
    --tertiary-opacity: rgba(0, 12, 36, 0.22);
    --neutral-80-opacity: rgba(75, 113, 189, 0.04);
    --neutral-100-opacity: rgba(0, 37, 112, 0.04);
    --neutral-120-opacity: rgba(33, 60, 112, 0.11);
    --neutral-bg: rgba(245, 246, 249, 1);
}