:root {
    --primary: rgba(18, 20, 22, 1);
    --secondary: rgba(23, 28, 38, 0.45);
    --tertiary: rgba(0, 12, 36, 0.22);
    --neutral-80: #F8F9FC;
    --neutral-100: #F5F6F9;
    --neutral-120: #E7EAEF;
    --neutral-bg: rgba(245, 246, 249, 1);
}