body {
    background-color: var(--neutral-bg);
    color: var(--primary);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.table-wrapper {
    margin: 20px;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 6px 34px 0px rgba(32, 47, 78, 0.12);
}

tr {
    border-bottom: solid 1px var(--tertiary);
}

tr:last-of-type {
    border-bottom: solid 0px;
}

.skills-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Устанавливаем фиксированную ширину для всех ячеек */
}

.skills-table th,
.skills-table td {
    padding: 20px;
    text-align: left; /* Выравнивание текста по левому краю */
    width: 20%; /* Устанавливаем ширину для каждой ячейки в 20% от ширины таблицы */
    cursor: default;
}

.skills-table tr:hover {
    background-color: var(--neutral-80-opacity);
}

.skills-table td:hover {
    background-color: var(--neutral-80-opacity);
}

.category-header,
.category-header-row {
    background-color: var(--neutral-100);
    z-index: 1000;
}

.category-header {
    font-weight: bold;
    text-align: left;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.category-header-row th {
    position: sticky;
    top: 56px;
    z-index: 1000;
    background-color: var(--neutral-100);
}

.skill-description {
    padding: 10px 20px;
}